<div *ngIf="error" class="form-group form-group-sm">
    <div class="alert alert-warning alert-dismissible col-md-12" role="alert">
    {{error}}
    </div>
</div>
<form class="well">
    <div class="form-group">
        <input type="text" [(ngModel)]="currentRestaurant.name" name="name" id="resName" class="form-contol" placeholder="Restaurant Name" />
        <input type="text" [(ngModel)]="currentRestaurant.description" name="description" id="resDesc" class="form-contol" placeholder="Description" />
        <input type="text" [(ngModel)]="currentRestaurant.city" name="city" id="resCity" class="form-contol" placeholder="City" />
        <input type="text" [(ngModel)]="currentRestaurant.state" name="state" id="resState" class="form-contol" placeholder="State" />
        <input type="text" [(ngModel)]="currentRestaurant.cuisine" name="cuisine" id="resCuisine" class="form-contol" placeholder="Cuisine" />
        <select [value]="currentRestaurant.rating" #t (change)="changeRating(t.value)" class="form-contol" placeholder="Rating" id="selectedRating">
            <option value="0" selected="selected">Rating</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <input type="button" (click)="addRestaurant($event)" value={{addUpdate}} class="btn btn-primary">
    </div>
</form>

<div class="container-fluid" style="border: solid 1px black; border-radius: 10px;">
    <div class="row" style="background-color: #f0f0f0; border-top-left-radius: 10px; border-top-right-radius: 10px;">
       <div class="col-md-2">
            <strong>Restaurant Name</strong>
        </div>
        <div class="col-md-2">
            <strong>Description</strong>
        </div>
        <div class="col-md-2">
            <strong>City</strong>
        </div>
        <div class="col-md-2">
            <strong>State</strong>
        </div>
        <div class="col-md-1">
            <strong>Cuisine</strong>
        </div>
        <div class="col-md-1">
            <strong>Rating</strong>
        </div>
    </div>
    <br>
    <div class="row" *ngFor="let restaurant of restaurants">
        <div class="col-md-2">
            {{ restaurant.name }}
        </div>
        <div class="col-md-2">
            {{ restaurant.description }}
        </div>
        <div class="col-md-2">
            {{ restaurant.city }}
        </div>
        <div class="col-md-2">
            {{ restaurant.state }}
        </div>
        <div class="col-md-1">
            {{ restaurant.cuisine }}
        </div>
        <div class="col-md-1">
            {{ restaurant.rating }}
        </div>
        <div class="col-md-2">
            <input type="button" (click)="editRestaurant(restaurant._id)" value="Edit" class="btn btn-primary">
            <input type="button" (click)="deleteRestaurant(restaurant._id)" value="Delete" class="btn btn-danger">
        </div>
        <br><br>
    </div>    
</div>